<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="Personal website for Bradley Oesch">
  <meta name="keywords" content="bradley, oesch, bradley oesch">

  <!-- <link rel="shortcut icon" type="image/png" href="static/images/favicon.ico" /> -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" humility="none" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="static/styles/normalize.css"> -->
  <!-- <link rel="stylesheet" href="static/styles/base.css"> -->
</head>

<body>
  <div>
    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item">
          <div class="js-nav-menu--close nav-menu--close">&times;</div>
        </li>
        <li class="nav-menu__item"><a href="/comedy">Comedy</a></li>
        <li class="nav-menu__item"><a href="/software">Software</a></li>
        <li class="nav-menu__item"><a href="/resume">Resume</a></li>
        <li class="nav-menu__item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="content">
      <div>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
    </div>

    <div>{{content}}</div>

    <div class="footer-fetish container-fluid">
    </div>

  </div>

  <!-- <script type="text/javascript" src="static/scripts/index.js"></script> -->
</body>
</html>
