@use 'math';

/**
 * Set header sizing properly
 */
@mixin header($priority) {
  $ratio: 1.35;
  $max-priority: 4;
  // i.e. 1 -> 4, 2 -> 3, 3 -> 2, 4 -> 1
  $exponent: $priority * -1 + 1 + $max-priority;
  $size: math.pow($ratio, $exponent);

  font-size: #{$size}rem;
  line-height: 1;
}

@mixin _text-underline-crop($background, $base-crop-size) {
  $size2: $base-crop-size * 2;
  $size3: $base-crop-size * 3;
  $size4: $base-crop-size * 4;
  $size5: $base-crop-size * 5;

  text-shadow:
    $base-crop-size 0 $background,
    -#{$base-crop-size} 0 $background,
    0 $base-crop-size $background,
    0 -#{$base-crop-size} $background,
    $size2 0 $background,
    -#{$size2} 0 $background,
    $size3 0 $background,
    -#{$size3} 0 $background,
    $size4 0 $background,
    -#{$size4} 0 $background,
    $size5 0 $background,
    -#{$size5} 0 $background;
}

@mixin _text-background($color-bg, $color-text, $base-position) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% $base-position;
}

@mixin _text-selection($selection, $base-crop-size) {
  &::selection {
    @include _text-underline-crop($selection, $base-crop-size);

    background: $selection;
  }

  &::-moz-selection {
    @include _text-underline-crop($selection, $base-crop-size);

    background: $selection;
  }
}

/**
 * Fancy underline
 */
@mixin underline($background, $text, $selection, $base-crop-size: 0.03em, $base-position: 95%) {
  @include _text-underline-crop($background, $base-crop-size);
  @include _text-background($background, $text, $base-position);
  @include _text-selection($selection, $base-crop-size);

  color: $text;
  text-decoration: none;

  *,
  *::after,
  &::after,
  *::before,
  &::before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}
