<!DOCTYPE html>
<html lang="en">
<head>
<!--
 _____                  _                           _                                             _
|     |___ _____ ___   | |_ ___    _____ _ _    ___| |_ ___ _ _ _    _ _ ___ _ _    ___ ___ ___ _| |
|   --| . |     | -_|  |  _| . |  |     | | |  |_ -|   | . | | | |  | | | . | | |  |   | -_|  _| . |  _
|_____|___|_|_|_|___|  |_| |___|  |_|_|_|_  |  |___|_|_|___|_____|  |_  |___|___|  |_|_|___|_| |___| |_|
                                        |___|                       |___|
-->
  <title>Backyard Comedy ATX | Bradley Oesch</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Purchase website for Backyard Comedy ATX">
  <meta name="keywords" content="bradley, oesch, bradley oesch, backyard, comedy, backyard comedy, backyard comedy atx">

  <link rel="shortcut icon" type="image/png" href="http://bradleyoesch.com/img/backyard-comedy-favicon.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="static/styles/{{page}}.css">
  <!-- <link rel="stylesheet" href="http://bradleyoesch.com/css/backyardcomedyatx.css"> -->
</head>

<body>


<div class="header-img">
  <div class="mental-health-decliners">
    <a class="decliner bacefook" href="https://fb.me/backyardcomedyatx" target="_blank" rel="nofollow"><img src="http://bradleyoesch.com/img/backyard-comedy-bacefook-icon.png" /></a>
    <a class="decliner fininministakram" href="https://instagram.com/backyardcomedyatx/" target="_blank" rel="nofollow"><img src="http://bradleyoesch.com/img/backyard-comedy-fininministakram.png" /></a>
    <a class="decliner hell" href="https://twitter.com/backyardcomedyy" target="_blank" rel="nofollow"><img src="http://bradleyoesch.com/img/backyard-comedy-hell-icon.png" /></a>
  </div>
</div>

  <div class="content">
    <div class="container">
    <div class="main">
{{{content}}}
    </div>
    </div>
  </div>

</body>
</html>
